body	{
	background-color:pink;
	}
	p::first-line{color:#ff0000;font-variant:small-caps;}

	h3::first-letter{color:#ff0000;font-variant:xx-large;}
	::selection{color:red;background:yellow;}

	div.a{background-image:url("/home/Sem6B10/Desktop/shadow.jpeg/");
		padding:100px;
		border:7px solid black;}
	div.b{
	background-color:black;
	padding:60px;
	color:white;
	opacity:0.5;
	}
	
	#grad{background-image:linear-gradient(red,yellow);}

	#grad1{background-image:linear-gradient(to right,rgba(255,0,0,0),rgba(255,0,0,1));}

	#grad2{background-image:linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet);}
	#grad3{background-image:repeating-linear-gradient(red,yellow 10%,green 20%);}
